<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>StudentWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>StudentListServlet</servlet-name>
		<servlet-class>servlet.StudentListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentListServlet</servlet-name>
		<url-pattern>/StudentListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentDelServlet</servlet-name>
		<servlet-class>servlet.StudentDelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentDelServlet</servlet-name>
		<url-pattern>/StudentDelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentAddServlet</servlet-name>
		<servlet-class>servlet.StudentAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentAddServlet</servlet-name>
		<url-pattern>/StudentAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentAlterServlet</servlet-name>
		<servlet-class>servlet.StudentAlterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentAlterServlet</servlet-name>
		<url-pattern>/StudentAlterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentUpdServlet</servlet-name>
		<servlet-class>servlet.StudentUpdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentUpdServlet</servlet-name>
		<url-pattern>/StudentUpdServlet</url-pattern>
	</servlet-mapping>
	
	<filter>
	<filter-name>LoginFilter</filter-name>	
	<filter-class>Filter.LoginFilter</filter-class>	
	</filter>	
	<filter-mapping>	
	<filter-name>LoginFilter</filter-name>		
	<url-pattern>/LoginFilter</url-pattern>	
	</filter-mapping>	
	<servlet>		
	<servlet-name>LoginServlet</servlet-name>		
	<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>  
	<servlet>    
	<servlet-name>InvalidateServlet</servlet-name>   
	<servlet-class>servlet.InvalidateServlet</servlet-class>  
	</servlet> 	
	<servlet-mapping>		
	<servlet-name>LoginServlet</servlet-name>		
	<url-pattern>/LoginServlet</url-pattern>	
	</servlet-mapping>  
	<servlet-mapping>    
	<servlet-name>InvalidateServlet</servlet-name>    
	<url-pattern>/InvalidateServlet</url-pattern>  
	</servlet-mapping>
</web-app>